@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/gray.css';

html,
body {
  background: var(--gray7);
  color: var(--blackA10);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
