$spacing: 1rem;

body {
    padding: 0px;
    margin: $spacing * 2;
}

svg {
    font-family: 'Monument Grotesk', 'Times New Roman', Times, serif;
    border: none;
    background: none;
    margin: 0;

    * {
        cursor: crosshair;
    }
}

div.window {
    position: absolute;
    position: fixed;
    width: 350px;
    overflow-y: scroll;
    height: 85vh;
    top: $spacing;
    right: $spacing;

    div.title-bar {
        cursor: grab;
    }

    div.item {
      padding-bottom: $spacing/2;
    }

    h5, p {
        font-size: 0.75rem;
    }

    h5 {
        margin-bottom: 10px;
        letter-spacing: 0.05em;
    }

    p {
        line-height: 1.35
    }

    #fn {
        width: 100%; 
        font-size: 0.85rem;
        padding: 1rem;
        font-weight: 200;
    }


    hr {
     margin: 1rem 0;   
    }

    input[type="range"] {
        cursor: grab;
    }
}