$spacing: 1rem;

body {
    background: black;
    padding: 0px;
    margin: $spacing * 2;
}

svg {
    font-family: 'Monument Grotesk', 'Times New Roman', Times, serif;
    border: none;
    background: none;
    margin: 0;

    *:hover {
        opacity: 0;
    }
}

div.window {
    position: absolute;
    user-select: none;
    position: fixed;
    width: 250px;
    overflow-y: scroll;
    height: 600px;
    top: $spacing;
    right: $spacing;

    div.item {
      padding-bottom: $spacing;
    }
}

h5 {
    font-size: 0.65rem;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

p {
    line-height: 1.35
}