@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/violet.css';

.inputGroup {
  outline: thin solid var(--blackA10);
  background: white;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.slider {
  width: 100%;
  display: block;
}
